
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Burası Layouttan Geliyor</title>
</head>
<body>
    <div>
        Burası Layout
    </div>
    <div> 
        @RenderBody()
    </div>
    <div>
        Burasıda Test 
    </div>
</body> 
</html>
